#content {
    display: table;
    border-collapse: collapse;
    margin: 0 auto;
}

.row {
    display: table-row;
    border-collapse: collapse;
}

.cell {
    display: table-cell;
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.cell-white {
    background-color: white;    
}
.cell-black {
    background-color: black;
}
